@font-face {
  font-family: 'icomoon';
  src:  url('./icomoon.eot?tjm28f');
  src:  url('./icomoon.eot?tjm28f#iefix') format('embedded-opentype'),
    url('./icomoon.ttf?tjm28f') format('truetype'),
    url('./icomoon.woff?tjm28f') format('woff'),
    url('./icomoon.svg?tjm28f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\e900";
}
.icon-lightbulb:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e902";
}
.icon-wallet:before {
  content: "\e903";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}
